/* DETAILS PAGE */
.hero-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.gallery-img {
  width: 220px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}
